<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-5 bg-white text-black rounded">
      <div class="card-header text-center pt-5">
        <h1 class="h4 text-black">
          Iniciar sesion
        </h1>
      </div>
      <img
        class="rounded-circle mx-auto d-block logo m-4"
        src="/imagenes/instaya.png"
        alt="Logo"
      />
      <div class="card-body">
        <form action="/auth/signin" method="POST">
          <div class="mb-3">
             <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control bg-white text-dark" id="InputEmail1" aria-describedby="emailHelp" placeholder="Email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="mb-3">
            <label for="passswore">Password:</label>
            <input
              type="password"
              class="form-control bg-white text-dark"
              name="password"
              placeholder="Password"
            />
          </div>
          <div class="text-center">
          <a href="#" class="btn btn-outline-primary" type="button">Iniciar sesion</a>
          </div>
           
          
        </form>
      </div>

      <p class="text-center">¿No tienes cuenta? <a href="/auth/signup" class="text-info">Registrarse</a></p>
    </div>
  </div>
</div>